body {
  max-width: 650px;
  margin: 40px auto;
  padding: 0 10px;
  color: #333333
}

h1, h2, h3 {
  line-height: 1.2;
}

pre {
  font-family: monospace;
  font-size: initial;
  line-height: initial;
  overflow-x: auto;
}

td {
  vertical-align: top;
}

input, textarea {
  -webkit-appearance: none;
  padding: 5px 8px;
  font-size: 16px;
  font: inherit;
  background-color: #e1dfdf;
  border: 1px solid #333333;
  border-radius: 0;
}

.posts-table td {
  padding: 2px;
  border-bottom: 1px solid;
}

input[type=file] {
  background-color: initial;
  border: initial;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding: 0 15px;
  border-left: .2em solid;
}

img {
  max-width: 100%;
}

@media (prefers-color-scheme: dark) {
  body {
      color: white;
      background: #333333
  }
  a:link{
      color:#33cc66
  }
  a:visited{
      color:#33cc66
  }
  input, textarea {
      color: white;
      background-color: #333333;
      border: 1px solid white;
  }
  .posts-table td {
      border-bottom: 1px solid;
  }
}

/* Classes */

.field { margin-bottom: 1rem; }
.field > label { margin-bottom: .25rem; }
.field > * { display: block; width: 100%; box-sizing: border-box; }

.editor { height: 500px; }
.about { height: 150px; }
.auth-form { max-width: 400px; }

.posts-title {
  padding-left: 8px;
}

.posts-date {
  white-space: nowrap;
}