@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  color: #333;
  background: #333;
  padding: 30px 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}

::selection {
  background: #33ff6644;
}

::-moz-selection {
  background: #33ff6644;
}


a {
  text-decoration: none;
  color: #33cc66;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  margin-top: 3px;
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 400;
}

h3 {
  text-transform: uppercase;
  font-size: 2.1rem;
  font-weight: 600;
  margin-bottom: 20px;
}

header {
  border-color: #505050;
}

article-link {
  color: #fff;
}

article-link time {
  background: #3b3b3b;
  border-color: #505050;
  color: #ccc;
}

svg {
  stroke: #fff;
}

p {
  color: #fff;
}

li {
  color: #fff;
}

code {
  background: #444;
  border-color: #555;
}

blockquote {
  background: #3c3c3c;
  border-color: #4c4c4c;
  color: #ccc;
}