@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
}

article > * + * {
  margin-top: 1.4em;
}

input,
button,
textarea,
select {
  font: inherit;
}

::selection {
  background: #33ff6644;
}

::-moz-selection {
  background: #33ff6644;
}

body {
  color: #333;
  background: #333;
  padding: 30px 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #33cc66;
}

.container {
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  margin-top: 3px;
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 400;
}

h3 {
  text-transform: uppercase;
  font-size: 2.1rem;
  font-weight: 600;
  margin-bottom: 20px;
}

h4 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

h3.main {
  text-transform: none;
}


header {
  border-color: #505050;
}

article-link {
  color: #fff;
}

article-link time {
  background: #3b3b3b;
  border-color: #505050;
  color: #ccc;
}

svg {
  stroke: #fff;
}

p {
  color: #fff;
}

li {
  color: #fff;
}

code {
  background: #444;
  border-color: #555;
}

blockquote {
  background: #3c3c3c;
  border-color: #4c4c4c;
  color: #ccc;
}

@media screen and (max-width: 600px) {
  .projects .project {
    margin-bottom: 4%;
    min-width: 280px;
    width: 98%;
  }
}

@media screen and (max-width: 670px) {
  body {
    padding: 30px 20px;
  }

  header {
    display: flex;
    justify-content: left;
  }

  header .bio {
    text-align: center;
    width: 100%;
  }

  header .links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-top: 20px;
  }

  header .links a {
    margin: 0 10px;
  }

  header h2 {
    margin-top: 2px;
  }

  nav {
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-color: #505050;
    border-bottom: solid 1px #f0f0f0;
  }
  
}