@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-semibold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
}

article > * + * {
  margin-top: 1.4em;
}

input,
button,
textarea,
select {
  font: inherit;
}

::selection {
  background: #33ff6644;
}

::-moz-selection {
  background: #33ff6644;
}

body {
  color: #333;
  padding: 30px 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #33cc66;
}

.container {
  max-width: 800px;
  min-width: 300px;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  margin-top: 3px;
  font-size: 1.8rem;
  line-height: 2.6rem;
  font-weight: 400;
}

h3 {
  text-transform: uppercase;
  font-size: 2.1rem;
  font-weight: 600;
  margin-bottom: 20px;
}

h4 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
}

h3.main {
  text-transform: none;
}

header {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid 1px #f0f0f0;
}

header .bio a {
  color: #333;
}

header .links {
  padding-top: 4px;
}

header .links a {
  margin-left: 10px;
}

header .links a svg:hover {
  stroke: #33cc66;
}

nav {
  text-align: right;
  margin-bottom: 50px;
}

nav a {
  display: inline-block;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 15px;
}

article {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 2.9rem;
  color: #444;
}

.typewriter {
  overflow: hidden;
  height: 2.8rem;
}

.typewriter .greetings {
  float: left;
}

.typewriter .greetings h3 {
  font-size: 2.3rem;
  font-weight: 600;
  text-transform: none;
  overflow: hidden;
  border-right: 0.25rem solid #444;
  white-space: nowrap;
  letter-spacing: 0.25em;
  padding: 0;
  margin: 0;
}

.typewriter .greetings h3.hebrew {
  border-right: 0;
  border-left: 0.25rem solid #444;
  padding-left: 5px;
  animation: typing 0.5s steps(4, end), blink-caret-light 0.7s step-end infinite;
}

.typewriter .greetings h3.esperanto {
  animation: typing 0.5s steps(7, end), blink-caret-light 0.7s step-end infinite;
}

.typewriter .greetings h3.german {
  animation: typing 0.5s steps(5, end), blink-caret-light 0.7s step-end infinite;
}

.typewriter .greetings h3.spanish {
  animation: typing 0.5s steps(4, end), blink-caret-light 0.7s step-end infinite;
}

.typewriter .greetings h3.english {
  animation: typing 0.5s steps(5, end), blink-caret-light 0.7s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret-light {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #444;
  }
}

@keyframes blink-caret-dark {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #fff;
  }
}

code {
  font-family: monospace;
  background: #f0f0f0;
  border: solid 1px #eee;
  padding: 3px 5px;
  border-radius: 5px;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  margin: 1.5rem 0;
  padding: 0.5rem 10px;
}

ul {
  list-style: none;
  padding: 5px 0 0 0;
  margin: 0;
}

li {
  margin-top: 1.8rem;
  margin-left: 2.5em;
  position: relative;
}

li::before {
  content: "•";
  color: #ccc;
  font-size: 3rem;
  left: -2rem;
  top: -0.24rem;
  position: absolute;
}

p.esperanto-text {
  background-image: url("../images/flags/eo.png");
  background-repeat: no-repeat;
  background-position: left 6px;
  background-size: 25px;
  padding-left: 37px;
}

p.english-text {
  background-image: url("../images/flags/en.png");
  background-repeat: no-repeat;
  background-position: left 6px;
  background-size: 25px;
  padding-left: 37px;
}

p.english-text.center,
p.esperanto-text.center {
  background-position: left center;
  background-size: 20px;
  padding-left: 32px;
}

p.english-text.closer,
p.esperanto-text.closer {
  margin-top: 0;
}

.article-link {
  display: flex;
  color: #333;
  margin-top: 3rem;
}

.article-link:nth-of-type(1) {
  margin-top: 0;
}

.article-link .time {
  padding: 8px;
  background: #f8f8f8;
  border: solid 1px #f0f0f0;
  color: #777;
}

.article-link .time .month {
  font-size: 1.7rem;
  text-transform: uppercase;
}

.article-link .time .year {
  font-size: 1.5rem;
}

.article-link .details {
  margin-left: 20px;
  max-width: 75%;
}

.article-link .details .title {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.8rem;
}

.article-link .details .summary {
  margin-top: 5px;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.video-container {
  height: 0px;
  padding-top: 0px;
  padding-bottom: 56.2%;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
}

.conversation {
  position: relative;
  border: solid 1px #ddd;
  margin-bottom: 20px;
  border-radius: 10px;
}

.dark .conversation {
  border-color: #555;
}

.conversation .info {
  background: #cff8cb;
  color: #367431;
  padding: 15px;
  margin: 10px;
  line-height: 2.5rem;
  border-radius: 10px;
}

.dark .conversation .info {
  background: #444;
  color: #ccc;
}

.conversation .messages {
  padding: 10px 0;
}

.conversation .messages .message {
  position: relative;
  margin: 10px 10px 20px 80px;
}

.conversation .messages .message:last-child {
  margin-bottom: 10px;
}

.conversation .messages .message img {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 0;
  left: -70px;
  bottom: 0;
}

.conversation .messages .message .lines {
  display: inline-block;
  padding: 5px 10px;
  min-height: 50px;
  background: #f6f6f6;
  border-radius: 10px;
}

.dark .conversation .messages .message .lines {
  background: #444;
  color: #fff;
}

.conversation .messages .message .lines div {
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center left;
  padding: 5px 10px 5px 26px;
  line-height: 20px;
}

.conversation .messages .message .lines .eo {
  background-image: url("../by-post/fzt/eo.png");
}

.conversation .messages .message .lines .en {
  background-image: url("../by-post/fzt/en.png");
}

.conversation .input {
  border-top: solid 1px #ddd;
  padding: 5px;
}

.dark .conversation .input {
  border-color: #555;
}

.conversation .input .buttons {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.conversation .input .buttons .button {
  background: #eee;
  border: solid 2px #eee;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  display: inline-block;
  min-width: 40px;
  text-align: center;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.dark .conversation .input .buttons .button {
  border-color: #555;
  background: #444;
  color: #fff;
}

.conversation .input .buttons .button.selected {
  opacity: 0.4;
}

.conversation .input .buttons .button.selected:hover {
  opacity: 0.4;
  background: #eee;
  border: solid 2px #eee;
  cursor: default;
}

.dark .conversation .input .buttons .button.selected:hover {
  border-color: #555;
  background: #444;
}

.conversation .input .buttons .button:hover {
  background: #ddd;
  border: solid 2px #ccc;
  cursor: pointer;
}

.dark .conversation .input .buttons .button:hover {
  border-color: #666;
  background: #555;
}

.conversation .input .mistake {
  border: solid 2px #f7ada7;
  padding: 10px;
  margin: 5px 5px 15px 5px;
  line-height: 3rem;
  border-radius: 10px;
  text-align: center;
  color: #ce766d;
  display: none;
}

.dark .conversation .input .mistake {
  border: solid 2px #f78d87;
  color: #ee766d;
}

.conversation .input .mistake b {
  font-weight: 900;
}

.conversation .input .skip {
  display: block;
  margin: 10px 0;
  text-align: center;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.conversation .input .complete {
  font-weight: 900;
  text-align: center;
  padding: 15px 0;
  line-height: 24px;
  display: none;
}

.dark .conversation .input .complete {
  color: #fff;
}

.conversation .clap {
  padding: 50px;
  font-size: 100px;
  line-height: 100px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 200px;
  height: 200px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
}

.message-template {
  display: none;
}

.code-block {
  background: #333;
  color: #fff;
  font-family: monospace;
  padding: 10px;
}

.dark .code-block {
  background: #3a3a3a;
}

.date {
  background-image: url("../images/general/time.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: left 5px;
  padding-left: 23px;
  color: #999;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}

.tags a {
  color: #666;
  background: #f8f8f8;
  border: solid 1px #ddd;
  border-radius: 5px;
  padding: 2px 5px;
  margin: 0 8px 8px 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 2rem;
}

.dark .tags a {
  border-color: #666;
  background: #444;
  color: #eee;
}

.tags a:hover,
.tags a.active {
  border: solid 1px #33cc66;
  color: #00aa33;
}

.dark .tags a:hover,
.dark .tags a.active {
  border: solid 1px #33cc66;
  color: #eee;
}

.books {
  display: flex;
  flex-wrap: wrap;
}

.books a {
  margin: 0 28px 28px 0;
}

.books a img {
  width: 170px;
  height: 246px;
}

/* --- dark mode --- */

.dark {
  background: #333;
  color: #fff;
}

.dark header {
  border-color: #505050;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4 {
  color: #fff;
}

.dark .typewriter .greetings h3 {
  border-left-color: #fff;
  border-right-color: #fff;
}

.dark .typewriter .greetings h3.hebrew {
  animation: typing 0.5s steps(4, end), blink-caret-dark 0.7s step-end infinite;
}

.dark .typewriter .greetings h3.esperanto {
  animation: typing 0.5s steps(7, end), blink-caret-dark 0.7s step-end infinite;
}

.dark .typewriter .greetings h3.german {
  animation: typing 0.5s steps(5, end), blink-caret-dark 0.7s step-end infinite;
}

.dark .typewriter .greetings h3.spanish {
  animation: typing 0.5s steps(4, end), blink-caret-dark 0.7s step-end infinite;
}

.dark .typewriter .greetings h3.english {
  animation: typing 0.5s steps(5, end), blink-caret-dark 0.7s step-end infinite;
}

.dark .article-link {
  color: #fff;
}

.dark .article-link .time {
  background: #3b3b3b;
  border-color: #505050;
  color: #ccc;
}

.dark svg {
  stroke: #fff;
}

.dark p {
  color: #fff;
}

.dark li {
  color: #fff;
}

.dark code {
  background: #444;
  border-color: #555;
}

.dark blockquote {
  background: #3c3c3c;
  border-color: #4c4c4c;
  color: #ccc;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.projects .project {
  background: #f8f8f8;
  border: solid 1px #eee;
  border-radius: 4px;
  margin-bottom: 4%;
  min-width: 280px;
  width: 48%;
  padding-bottom: 15px;
  color: #333;
}

.dark .projects .project {
  background: #3b3b3b;
  border-color: #505050;
  color: #fff;
}

.projects .project h4 {
  font-weight: 500;
  font-size: 2rem;
  padding: 20px;
  text-align: center;
  color: #444;
}

.dark .projects .project h4 {
  color: #fff;
}

.projects .project .image {
  margin: 0 auto 20px auto;
  width: 220px;
  height: 244px;
  line-height: 0;
  overflow: hidden;
  border: solid 5px #fff;
}

.projects .project .image img {
  width: 100%;
  height: 100%;
}

.projects .project p {
  padding: 0 30px;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: center;
}

.projects .project .tags {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.projects .project .tags span {
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  background: #eee;
  border: solid 1px #ddd;
  border-radius: 4px;
  padding: 3px 5px;
  margin: 5px;
  letter-spacing: 0.05rem;
}

.dark .projects .project .tags span {
  border-color: #666;
  background: #444;
  color: #fff;
}

@media screen and (max-width: 600px) {
  .projects .project {
    margin-bottom: 4%;
    min-width: 280px;
    width: 98%;
  }
}

@media screen and (max-width: 670px) {
  body {
    padding: 30px 20px;
  }

  header {
    display: flex;
    justify-content: left;
  }

  header .bio {
    text-align: center;
    width: 100%;
  }

  header .links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin-top: 20px;
  }

  header .links a {
    margin: 0 10px;
  }

  header h2 {
    margin-top: 2px;
  }

  nav {
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: solid 1px #f0f0f0;
  }

  .dark nav {
    border-color: #505050;
  }

  nav a {
    margin: 0 8px 8px 8px;
  }

  .tags {
    justify-content: left;
  }

  .books {
    justify-content: center;
  }
}
